.App {
    text-align: center;
    background-color: #222;
    height: 450px;
}

.Box {
    width: 202px;
    height: 111px;
    background: #f3f2f1;
    margin: 0 auto;
    box-shadow: 1.5px 1.5px 3px rgba(151, 151, 151, 0.4), -1px -1px 3px #ffffff;
    border-radius: 5px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid blue;
}
